* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

.control-container {
  margin: 2rem;
}

.chart-container {
  margin: 2rem;
}

#chart-grid {
  display: flex;
}

h2 {
  color: #515bf0;
  font-size: 3rem;
}

#getQos {
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  background: coral;
}
