* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

.control-container {
  margin: 2rem;
  flex: 1 1 auto;
}

.information-container {
  margin: 2rem;
  flex: 1 1 auto;
  padding-top: 1rem;
}

.chart-container {
  margin: 2rem;
}

#chart-grid {
  display: flex;
}

.main-header {
  color: #000000;
  font-size: 3rem;
  margin: 2rem;
}

.controls-2 {
  margin-top: 2rem;
}

.controls-2 label {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.controls input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.controls {
  margin-top: 2rem;
}

.controls input {
  position: absolute;
}

.controls label {
  outline: none;
  user-select: none;
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
  background-color: rgb(25, 187, 25);
}

.controls input:checked + label {
  color: white;
  background-color: rgb(213, 44, 44);
}

.main-container {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form label {
  font-size: 2rem;
}

form input {
  font-size: 2rem;
}

.notification-msg {
  margin-left: 2rem;
  color: #0010ff;
}
