<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QOS Monitoring Tool</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/socketio.js"></script>
  <script src="/static/chart.js"></script>
</head>

<body>
  <h2 class="main-header">QOS Traffic Monitoring Tool</h2>
  <div class="main-container">
    <div class="control-container">
      <form>
        <label for="iname">Interface Name</label>
        <input type="text" id="iname" name="iname">
        <label for="iip">IP</label>
        <input type="text" id="iip" name="iip">
        <label for="ipassword">Password</label>
        <input type="password" id="ipassword" name="ipassword">
      </form>
      <div class="controls-2">
        <input type="checkbox" id="allowBandWidth" /><label id="allowBandWidthLabel" for="allowBandWidth">Allow Auto
          Bandwidth Expand</label>
      </div>
      <div class="controls">
        <input type="checkbox" id="getQos" /><label id="getQosLabel" for="getQos">Start QOS</label>
      </div>
    </div>
    <div class="information-container">
    </div>
  </div>
  <div class="chart-container">
    <div id="chart-grid">
    </div>
  </div>

  <script src="/static/app.js"></script>
</body>

</html>