<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CISCO QOS Viewer</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/socketio.js"></script>
</head>

<body>
  <div class="control-container">
    <h2>CISCO QOS Viewer</h2>
    <button id="getQos">Get QOS</button>
  </div>
  <div class="chart-container">
    <div id="chart-grid">
    </div>
  </div>


  <script src="/static/app.js"></script>
</body>

</html>